    body {
    background-color: black;
	font-family: monospace;

}

/*Stuff below governs the start screen*/

.titleContent {
	margin: 10% auto;
    text-align: center;
}

.splashTitle {
	color: #fff;
    font-size: 8em;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(27, 25, 25, 0.74);
}

.button {
	border: 5px solid #383838;
    color: #383838;
    padding: 20px 50px;
    font-size: 5em;
    text-decoration: none;
    background-color: #abc;
    box-shadow: 15px 15px 80px #555;
}
  a.button:hover {
    background-color: #383838;
    color: #abc;
  }



/*Stuff below governs the Explore screen*/



#inventory{
    position: absolute;
    width: 200px; 
    height: 320px;
    background-image: url("file:///Users/s200787/Documents/Sumtinlazy2/gameTemplate1/img/jsTexture/inventory.png");
    top: 5px;
    left: 490px;
}

#titleBack{
    width: 480px;
    height: 320px;
    background-color: red;
    background-image: url("file:///Users/s200787/Documents/Sumtinlazy2/gameTemplate1/img/jsTexture/GroundTextures/Grass/SandTexture.png");
    border: 5px solid #7A7A7A;
    vertical-align: center;
    position: absolute;
    background-size: 32px, 32px;
    top: 0;
    left: 0;
}

#topwall {
    height: 16px;
    width: 480px;
    float: top;
}

#botwall {
    height: 16px;
    width: 480px;
    position: absolute;
    bottom: 0;
}

#leftwall {
    width: 16px;
    height: 304px;
    float: left;
}

#rightwall {
    width: 16px;
    height: 320px;
    float: right;
}

.wall {
    background-image: url("file:///users/s200787/Documents/Sumtinlazy2/gameTemplate1/img/jsTexture/WallTextures/WallTextureLeft.png");
}

#player {
    width: 32px;
    height: 32px;
    float: left;
    background-image: url("file:///Users/s200787/Documents/Sumtinlazy2/gameTemplate1/img/jsTexture/Player.png");
    background-repeat: no-repeat;
    background-size: 32px, 32px;
    position: absolute;
    top: 50%;
    left: 50%;

}

.rock {
    background-image: url("file:///Users/s200787/Documents/Sumtinlazy2/gameTemplate1/img/jsTexture/GroundTextures/Grass/SandRockTexture.png");
    background-size: 32px, 32px;
    width: 32px;
    height: 32px;
}

#rockone {
    position: absolute;
    top: 0px;
    left: 0px;
}

#rocktwo {
    position: absolute;
    top: 0px;
    left: 0px;
}

#rockthree {
    position: absolute;
    top: 0px;
    left: 0px;
}

.brock {
    width: 32px;
    height: 32px;
    background-image: url("file:///Users/s200787/Documents/Sumtinlazy2/gameTemplate1/img/jsTexture/GroundTextures/Grass/GrassRock.png");
    background-size: 32px, 32px;
}

.enemy {
    width: 32px;
    height: 32px;
    background-image: url("file:///Users/s200787/Dropbox/JS%20Textures/Enemy.png");
    background-size: 32px, 32px;
}

#health {
    width: 480px;
    height: 16px;
    background-color: red;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
}

